.content{
    h1{
        text-align: center;
        color: white;
        font-weight: bold;
        font-size: 40px;
    }
    p{
        text-align: center;
        color: rgba(255, 255, 255, 0.5);
        font-weight: bold;
        font-size: 18px;
    }
}