<div class="hearder"> 
  <div>
    <img src="../assets/5c0e849f1e49f004df5e3859.png" alt="">
  </div>
  <div class="lista-unica">

    <button mat-button color="link"><mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>Home</button>

    <button mat-button color="link">Shopping</button>
    <button mat-button color="link">Vendas</button>
    <button mat-button color="link">Usuario</button>


  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
  </div>
</div>
<div class="numero">
  <button mat-raised-button color="accent" (click)="somar1()">somar um</button>
  <h2>{{numero}}</h2>
</div>

<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image">
      <img class="vendedor"src="../assets/blue.jpeg" alt="">
    </div>
    <mat-card-title>Chave philipis</mat-card-title>
    <mat-card-subtitle>Cotoco</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="../assets/chave_phillips_cotoco_n2_1_4x1_1_2_belzer_89969642_0001_600x600.jpeg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      As chaves Phillips são importantes ferramentas para ter em casa e usar junto aos parafusos. Se você não as conhece pelo nome, com certeza já as viu por aí. Elas são formadas por um cabo, normalmente de plástico ou resina, e uma haste metálica com uma ponta mais fina na sua extremidade. A principal diferença da Phillips para a chave de fenda, por exemplo, está exatamente na disposição da sua ponta: ela é bem mais fina, em um formato de fenda cruzada que lembra um cone, e que faz com que sejam ideais para uso em parafusos com a cabeça do mesmo tipo - aqueles que possuem um formato de “X” cavado na cabeça.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button><mat-icon>add_shopping_cart</mat-icon>Comprar</button>
    <button mat-button><mat-icon>person</mat-icon>Perfil do vendedor</button>
  </mat-card-actions>
</mat-card>
